<!DOCTYPE html>
<html lang="ptbr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spice</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/estilo.css">        
</head>
<body>    
    <div class="container">
    <div class="container base">        
        <div class="row logoSpice">            
                <img src="../public/image/LogoSpice2.png" alt="LogoAlterdata">            
            <input class="form-control col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 texto" type="text" value="" id="campo">                
        </div>            
        <div class="btnNumeros">
            <div class="row">
                <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="7" id="7">
                <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="8" id="8">
                <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="9" id="9">
            </div>
            <div class="row">
                <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="4" id="4">
                <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="5" id="5">
                <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="6" id="6">
            </div>
            <div class="row">
                <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="1" id="1">
                <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="2" id="2">
                <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="3" id="3">
            </div>          
            <div class="row">
                    <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value=".">
                    <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value="0" id="0">
                    <input class="btn btn-light btn-lg col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 botao" type="button" value=".">
            </div>            
        </div>
        <div class="row">
            <input class="btn-lg btn-success col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 enviar botao" type="button" value="Enviar" id="enviar">
        </div>                
    </div>    
    <div class="container">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row logoAlterdata">
                <img src="../public/image/LogoAlterdata.png" alt="LogoAlterdata">
            </div>
        </div>
    </div>
    </div>        
    <script src="../public/js/envioTelcado.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>